@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

button:hover {
  filter: brightness(0.95);
}

button:active {
  filter: brightness(0.90);
}

.border-container{
  border: 1px solid rgb(226, 226, 226);
}

.btn {
  border-radius: 16px;
  padding: 12px 24px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.btn-action {
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}

.btn-white {
  color: black;
  border: 1px solid rgb(201, 201, 201);
  background-color: white;
}

.btn-success {
  color: white;
  background-color: green;
}
.btn-error {
  color: white;
  background-color: red;
}
.btn-info {
  color: white;
  background-color: rgb(0, 162, 255);
}
.btn-warning {
  color: white;
  background-color: rgb(255, 166, 0);
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fade {
  animation: fade 0.3s ease;
}
.animate-fade-in-out {
  animation: fade-in-out 3s ease-in-out forwards;
}